In [32]:
from sklearn.ensemble import RandomForestRegressor
import os
import pandas as pd
import numpy as np

In [54]:
args = os.listdir("./Data/Formatted")
df = pd.read_csv("./Data/Formatted/"+args[5])
df.drop(columns=[df.columns[0]],inplace = True)

In [47]:
cl = RandomForestRegressor(n_estimators=500)

In [55]:
X = df.iloc[:,1:6].values
y = df.iloc[:,6].values

In [30]:
y

array([-0.099991, -4.949997, -8.600006, ..., -2.      , -2.550004,
        7.050004])

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [61]:
for i in args:
    
    df = pd.read_csv("./Data/Formatted/"+i)
    
    df.drop(columns=[df.columns[0]],inplace = True)
    X = df.iloc[:,1:6].values
    y = df.iloc[:,6].values
    X = sc.fit_transform(X)
    y = sc.fit_transform(y.reshape(-1,1))
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    cl.fit(X_train,y_train)
    
    y_pred = cl.predict(X_test)
    print(r2_score(y_test,y_pred))

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.27056758336452535

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2704351157403344

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2697428657880653

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.3144206795988512

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.22488718834855514

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.09481538460661199

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2597023145173569

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.40721096846956784

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.29956568316807886

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.30956872424460335

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.4332438306019458

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.24365303040212227

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2399883689939808

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.20314855999737635

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2276698986340665

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.18350336659974598

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.2988140964350744

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.13551084303299044

c:\program files (x86)\python36-32\lib\site-packages\ipykernel_launcher.py:11: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  # This is added back by InteractiveShellApp.init_path()

0.26999447951560607

In [56]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
cl.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [58]:
y_pred = cl.predict(X_test)

In [62]:
# from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.26999447951560607

In [64]:
df

,Date,RSI,MFI,EMA,SO,MACD,Diff,Close
0,2007-03-28,51.106727,43.851807,3.768706,0.071429,-3.861561,-0.11,1.57
1,2007-03-30,50.962893,44.069939,3.739254,0.321429,-3.924293,0.07,1.64
2,2007-04-02,50.676062,44.153325,3.710176,0.250000,-3.962623,-0.02,1.62
3,2007-04-03,49.522510,37.789330,3.689548,0.347826,-3.981042,0.01,1.63
4,2007-04-04,49.803150,39.085002,3.662252,0.555556,-3.905533,0.02,1.65
5,2007-04-05,50.084459,38.521636,3.672171,1.000000,-3.823185,0.09,1.74
6,2007-04-09,50.485556,40.235386,3.719136,1.000000,-3.767310,0.09,1.83
7,2007-04-10,50.880178,43.185480,3.770227,0.800000,-3.717507,0.03,1.86
8,2007-04-11,51.040376,46.571898,3.838091,0.894737,-3.649550,0.06,1.92
9,2007-04-13,50.772126,49.347693,3.880508,0.722222,-3.590450,-0.06,1.86
10,2007-04-19,50.389594,54.049147,3.927601,0.606061,-3.518423,-0.03,1.83
11,2007-04-23,50.770017,58.494522,3.996153,0.933333,-3.437763,0.11,1.94
12,2007-04-25,50.164162,60.500149,4.046938,0.666667,-3.361800,-0.05,1.89
13,2007-04-27,50.206101,57.804547,4.065038,0.157895,-3.321944,-0.09,1.80
14,2007-04-30,49.751861,58.199608,4.090312,0.315789,-3.270614,0.03,1.83
15,2007-05-04,50.077042,59.150152,4.107416,0.470588,-3.212487,0.02,1.85
16,2007-05-08,49.686392,59.896333,4.147751,0.909091,-3.161807,0.12,1.97
17,2007-05-16,50.522928,69.381654,4.267958,1.000000,-3.128856,0.28,2.25
18,2007-05-21,49.895507,55.704075,4.353659,0.916667,-3.124325,-0.04,2.21
19,2007-05-22,50.612268,64.774469,4.449885,0.854545,-3.129594,0.03,2.24
20,2007-05-28,50.541746,68.198422,4.482583,0.500000,-3.150354,-0.19,2.05
21,2007-05-29,50.932659,68.274136,4.516212,0.588235,-3.164077,0.06,2.11
22,2007-06-05,51.006470,70.109804,4.517876,0.131579,-3.193813,-0.12,1.99
23,2007-06-06,50.841992,69.893107,4.523330,0.075000,-3.242432,-0.04,1.95
24,2007-06-13,50.678571,69.345270,4.517205,0.130435,-3.286278,-0.03,1.92
25,2007-06-14,50.643317,68.811493,4.511215,0.130435,-3.313786,0.00,1.92
26,2007-06-19,50.733978,68.066109,4.463662,0.062500,-3.366570,-0.08,1.84
27,2007-06-21,50.114703,64.761841,4.380255,0.096774,-3.408431,0.01,1.85
28,2007-06-25,50.177046,64.535486,4.314916,0.192308,-3.467857,0.02,1.87
29,2007-06-26,50.713776,68.788283,4.242055,0.120000,-3.568895,-0.02,1.85
...,...,...,...,...,...,...,...,...
1443,2017-12-18,52.380952,58.148867,0.936177,0.000000,-0.914389,0.00,0.40
1444,2017-12-19,52.095808,67.096632,0.924848,0.500000,-0.900460,0.00,0.40
1445,2017-12-20,51.807229,72.282093,0.922300,0.500000,-0.894095,0.00,0.40
1446,2017-12-21,51.648352,76.898300,0.920216,0.500000,-0.887413,0.00,0.40
1447,2017-12-22,51.381215,76.876299,0.910567,0.500000,-0.872711,0.00,0.40
1448,2017-12-26,51.111111,83.131750,0.901450,0.500000,-0.857975,0.00,0.40
1449,2017-12-27,51.020408,88.901643,0.900713,0.500000,-0.850998,0.00,0.40
1450,2017-12-28,51.020408,91.821887,0.892165,0.500000,-0.843866,0.00,0.40
1451,2017-12-29,51.901141,27.309172,0.868138,0.000000,-0.840069,-0.05,0.35
1452,2018-01-01,51.625239,40.854036,0.869791,0.666667,-0.839206,0.05,0.40
1453,2018-01-02,52.734375,20.687754,0.855331,0.333333,-0.842348,-0.05,0.35
1454,2018-01-03,52.173913,23.811258,0.842278,0.333333,-0.836850,0.00,0.35
1455,2018-01-04,51.888668,33.978428,0.846188,0.666667,-0.826842,0.05,0.40
1456,2018-01-05,53.072626,27.197930,0.849388,0.666667,-0.817306,0.00,0.40
1457,2018-01-08,53.048780,27.950747,0.836193,0.333333,-0.812135,-0.05,0.35
1458,2018-01-09,52.760736,28.430038,0.824175,0.333333,-0.813657,0.00,0.35
1459,2018-01-10,52.469136,29.024836,0.813121,0.333333,-0.807425,0.00,0.35
1460,2018-01-11,52.469136,33.450829,0.818666,0.666667,-0.796868,0.05,0.40
1461,2018-01-12,52.380952,39.259814,0.815335,0.333333,-0.798159,-0.05,0.35
1462,2018-01-15,52.054795,43.589003,0.804665,0.333333,-0.799028,0.00,0.35
1463,2018-01-16,51.724138,44.560034,0.802657,0.500000,-0.784525,0.00,0.35
1464,2018-01-17,51.388889,44.280418,0.801014,0.500000,-0.777716,0.00,0.35
1465,2018-01-18,51.265823,41.404919,0.791726,0.500000,-0.770190,0.00,0.35
1466,2018-01-19,50.955414,38.603175,0.782905,0.500000,-0.755365,0.00,0.35
1467,2018-01-22,50.877193,41.775610,0.782409,0.500000,-0.748329,0.00,0.35
1468,2018-01-23,50.877193,40.744199,0.782004,0.500000,-0.748423,0.00,0.35
1469,2018-01-24,50.588235,34.983096,0.781672,1.000000,-0.740609,0.00,0.35
1470,2018-01-25,51.541850,42.109470,0.757644,0.000000,-0.736812,-0.05,0.30
1471,2018-01-29,52.147239,59.885699,0.759297,1.000000,-0.728195,0.05,0.35
1472,2018-01-30,52.821670,66.877261,0.744837,0.000000,-0.731528,-0.05,0.30

In [69]:
z = df.drop(columns=['Date','Diff','Close']).corr()
z

           RSI       MFI       EMA        SO      MACD
RSI   1.000000  0.288766 -0.001962  0.094410  0.039188
MFI   0.288766  1.000000  0.268259  0.157674 -0.174186
EMA  -0.001962  0.268259  1.000000 -0.058111 -0.861934
SO    0.094410  0.157674 -0.058111  1.000000  0.105328
MACD  0.039188 -0.174186 -0.861934  0.105328  1.000000